$default-gradient-text: -webkit-linear-gradient(158.04deg, #38008a 0%, #f1009e 100%)
$padding-default: 7%

.app
  font-family: 'Montserrat', sans-serif
  margin: 0 auto
  max-width: 1440px
  p
    color: #5c5c5c
  .header-section
    display: flex
    justify-content: space-between
    h1  
      margin-bottom: 20px
    .flex
      display: flex
      align-items: center
      font-size: 14px

      div
        &:first-child
          margin-right: 24px
      div
        display: flex
        align-items: center
        color: #6c6c6c
        img 
          margin-right: 10px

    .main
      margin-top: 7%
      padding-left: $padding-default

    .main-title
      font-size: 64px
      background: $default-gradient-text
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      letter-spacing: -0.85px
      line-height: 72px
      max-width: 448px
      font-weight: 800
    .main-text
      color: #6c6c6c
      margin-bottom: 40px

  .button-default
    background-color: #4e0696
    background-image: linear-gradient(158.04deg,#3023AE 0%,#C86DD7 100%)
    box-shadow: 0 5px 21px 0 rgba(0,0,0,0.22)
    width: 438px
    height: 80px
    border-radius: 6.25rem
    display: flex
    align-items: center
    justify-content: center
    outline: none
    border: none
    transition: 0.5s
    color: #ffffff
    font-weight: 800
    font-size: 18px
    cursor: pointer
    transition: all .5s

    &:hover
        box-shadow: 0 5px 20px 2px rgba(0,0,0,.5)

  #main
    margin-bottom: 8%
    h2 
      background: $default-gradient-text
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      text-align: center
      font-size: 44px
      font-weight: 800
    p
      font-size: 20px
      text-align: center
      margin-bottom: 60px

    .main-section
      display: flex
      justify-content: space-between
      padding-left: $padding-default
      align-items: center
          
      p
        text-align: left
        font-weight: 400
        font-size: 24px
        color: #5e5e5e
        input
          border: none
          border-bottom: 2px solid #85d288
          outline: none
          width: 100px
          font-weight: 400
          font-size: 24px
          padding-left: 1%
          color: #5e5e5e
      .flex
        &:first-child
          width: 40%
        &:last-child
          width: 60%
      .graphic
        position: relative
        .salary
          position: absolute
          left: 10%
          div 
            margin-bottom: 20px
          p
            margin: 0
            &:first-child
              font-size: 15px
              margin-bottom: 10px
          .cash-win
            position: relative
            p
              &:first-child
                &:before
                  content: ''
                  height: 10px
                  width: 10px
                  background-color: #85d288
                  position: absolute
                  left: -15px
                  top: 5px
              &:last-child
                color: #85d288
                font-weight: 800
          .cash-pub
            position: relative
            p
              &:first-child
                &:before
                  content: ''
                  height: 10px
                  width: 10px
                  background-color: #4a90e2
                  position: absolute
                  left: -15px
                  top: 5px
              &:last-child
                color: #4a90e2
                font-weight: 800
        .years
          div 
            display: flex;
            align-items: center;
            max-width: 530px
            margin-left: 68px
            &:first-child
              position: relative
              justify-content: space-between
            &:last-child
              position: relative
              p
                position: relative
                margin-right: 40px
                margin-left: 40px
                &:first-child
                  &:before
                    content: ''
                    border-radius: 4px
                    height: 10px
                    width: 40px
                    background-color: #85d288
                    position: absolute
                    left: -45px
                    top: 5px
                &:last-child
                  &:before
                    content: ''
                    border-radius: 4px
                    height: 10px
                    width: 40px
                    background-color: #4a90e2
                    position: absolute
                    left: -45px
                    top: 5px

            p
              margin: 0 0 10px
              font-size: 14px

  .footer-section
    position: relative
    width: 100%
    color: #ffffff

    .footer-content
      padding-left: $padding-default
      padding-top: $padding-default
      width: 40%
      position: absolute
      h2 
        font-size: 44px
        font-weight: 800
      p 
        margin-bottom: 40px
        color: #ffffff
      .steps
        display: flex 
        align-items: center
        div
          padding-right: 20px
      .store
        height: auto
        width: auto

    img 
      width: 100%
      &.phone
        max-height: 700px
        position: absolute
        bottom: 0
        right: $padding-default
        width: auto
      &.icon
        max-height: 40px
        max-width: 40px


@media all and(max-width: 768px)
  .app
    h1
      text-align: center
    h2
      font-size: 30px!important
    p, input
     font-size: 14px!important 
    .header-section
      .flex
        display: block!important
      .container-logo
        display: none
      .main-title
        max-width: 100%
        width: 100%
        font-size: 40px
        line-height: initial!important

    #main
      .main-section
        display: block!important
        .flex
          width: 100%!important
        .recharts-wrapper
          width: 100%!important
          max-width: 100%
          .recharts-surface
            width: 100%!important
            max-width: 100%
      .graphic
        margin-top: 20px
        .years
          div
            max-width: 100%!important
            width: 100%!important
            margin-left: 0!important
    .footer-section
      color: #5c5c5c!important
      .footer-content
        width: 100%!important
        p
          color: #5c5c5c!important
        .steps
          display: block!important
          text-align: center

    .button-default
      width: 100%
      max-width: 100%!important
    .phone,
    .img-footer
      display: none

.recharts-default-legend,
.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis,
.recharts-cartesian-axis-ticks
  display: none